.container {
  margin: 0; 
  width: 900px;
  padding: 20px;
  background-color: var(--primary-color);
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-family: 'Georgia', serif;
  border: 1px solid #555555;
}

.container h1 {
  font-size: 2rem;
  text-align: center;
  color: #ffffff;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contactInfo a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.contactInfo a:hover {
  text-decoration: underline;
  color: #ffffff;
}