.overlay{
height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00000059;
}

.mailbox{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 50px;
    transform: translate(-50%, -50%);
    background-color: var(--primary-color);
    color: var(--foreground);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    max-height: 200vh;
    width: 500px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    z-index: 1001;
    padding-left: 10px;
    margin: auto;
    border-radius: 10px;
}

.email {
    font-family: 'Courier New', Courier, monospace; 
    margin: 0;
    margin-bottom: 10px;
}