.Cardcontainer {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  color: #ffffff;
}

.maincard{
  background-image: url("/content/W01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto;
}


.container {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.BoxContainer {
  width: 100%;
  max-width: 1200px; /* TODO:CHANGE idk */
  background-color: var(--primary-color);
  border-radius: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 20px;
  border: 2px solid var(--box-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LastContainer {
  box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.541);
  opacity: 0.9;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:30px;
}

.spaces{
  margin-top: 20px;
}

.LastContainer:hover {
  transition: background-color 0.3s ease-in-out;
  background-color: rgba(41, 9, 82, 0.3);
}

.LastContainer:not(:hover) {
  transition: background-color 0.3s ease-in-out;
  background-color: rgba(5, 20, 44, 0.164);

}
