
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    color: var(--foreground);
    min-height: 100vh;
  }

.outerContainer {
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
    background-color: var(--background-color);
    color: #ffffff;
    min-height: 100vh;
  }

/* .container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

  /* .container {
    color: #eaeaea;
    background-color: var(--background-color);
    min-height: 100vh;
  } */


  /* .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    color: #ffffff;
    padding: 40px;
    margin-bottom: -90px;
  } */


@media (max-width: 850px) {

  .container {
    padding: 10px;
  }
  
}