
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    color: var(--foreground);
    min-height: 100vh;
  }

.outerContainer {
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
    background-color: var(--background-color);
    color: #ffffff;
    min-height: 100vh;
  }



  


  


@media (max-width: 850px) {

  .container {
    padding: 10px;
  }
  
}