.elements {
  max-width: 1200px;
  padding: 40px 10px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 5px;
}

.title {
  font-family: 'Roboto', monospace;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: var(--title-color);
}

.subtitle {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 30px;
  color: var(--subtitle-color);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 330px));
  gap: 30px;
  justify-content: center;
  padding: 10px;
}

.searchBar {
  display: block;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--highlight-color);
  width: 300px;
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: var(--search-color);
  color: var(--text-color);
  outline: none;
}

.card {
  width: 100%; 
  max-width: 350px;
  padding: 0;
  background-color: var(--card-background);
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease, opacity 0.3s ease;
  z-index: 1;
}

.overlay{
  height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000059;
  }
  

.card.active {
  z-index: 10;
  opacity: 1;
}

.card.inactive {
  opacity: 0.7;
}

.card.moveLeft {
  transform: translateX(-5000px);
}
.card.moveRight {
  transform: translateX(5000px);
}

.card:hover {
  transform: translateY(-15px);
  z-index: 99;
}

.card.selected {
  transform: scale(1.6);
  z-index: 99;
}

.card.selectedLeft {
  transform: translateX(300px) scale(1.6);
  z-index: 99;
}
.card.selectedRight {
  transform: translateX(-300px) scale(1.6);
  z-index: 99;
}


.banner {
  position: relative;
  width: 100%;
  height: 150px;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
  margin: 0; 
  background-color: var(--banner-background);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.morePostsButton {
  background-color: var(--highlight-color2);
  color: white;
  padding: 6px 15px;
  font-size: 1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 5px;
  margin-bottom: 5px;
}

.morePostsButton:hover {
  background-color: var(--highlight-color3);
}


.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center; 
  background-color: white;
  transition: opacity 0.2s ease-in-out;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.2s ease-in-out;
}

.content {
  margin: 15px;
}

.projectName {
  font-size: 1.6rem;
  margin-bottom: 10px;
  color: var(--project-name-color);
}

.projectName a {
  font-size: 1rem;
  color: var(--project-name-color);
  text-decoration: none;
}

.projectName a:hover {
  color: var(--hover-text-color);
}

.projectDescription {
  font-size: 1rem;
  color: var(--project-description-color);
  margin-bottom: 15px;
}

.projectDate {
  font-size: 0.9rem;
  color: var(--project-date-color);
  margin-bottom: 40px;
}

.filterContainer {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.filterButton {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background-color: #00000000;
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1rem;
}

.filterButton:hover {
  background-color: var(--highlight-color2);
  transform: translateY(-2px);
}

.filterButton.active {
  background-color: var(--primary-color);
  color: var(--hover-text-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 850px) {
  .grid {
    /* grid-template-columns: repeat(auto-fit, minmax(90%, 1fr));  */
    grid-template-columns: repeat(auto-fit);
    justify-content: center; 
    gap: 20px; 
  }

  .card {
    margin: 0 auto; 
  }

  .card.selected {
    transform: scale(1.3); 
    z-index: 99;
  }

  .card.selectedLeft,
  .card.selectedRight {
    transform: scale(1.3); 
    z-index: 99;
  }

  .card.moveLeft,
  .card.moveRight {
    transform: scale(1); 
  }

  /* .searchBar {
    width: 100px;
  } */

}